@charset "UTF-8";

body {
    background-color: #c8e9c8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: 000000;
}

h1#principal {
    color: white;
    background-color: #2b3f2b;
    text-align: center;
}

h2 {
    color: #2b3f2b;
}

.primeiro {
    color: rgb(209, 85, 85);
}

.segundo {
    color: rgb(91, 91, 197);
}

.terceiro {
    color: rgb(192, 192, 71);
}