.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: aqua;
    border-radius:  5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

#display {
    font-size: 5em;
    margin-bottom: 0.5em;
}

button {
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

body {
    background-color: white
}