@font-face {
    font-family: 'idroid';
    src: url('fonts/idroid.otf') format('OpenType');
}

header {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(6, 51, 6) 0%, rgb(102, 192, 102) 100%, rgba(255,255,255,1) 100%);
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.541);
}

.menu {
    display: inline-flex;
    
}

.textoHeader {
    text-align: center;
}

.textoH1 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: rgb(5, 88, 5);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 900px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.541);
}

h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: rgb(5, 88, 5);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,0,36,1) 0%, rgba(0, 128, 0, 0.342) 0%, rgba(255,255,255,1) 100%);
}

span {
    color: #055805;
}

p {
    text-indent: 25px;
    text-align: justify;
}
